{{#if loggedInUser}}
    {{> menu active="public"}}
{{else}}
    {{> welcome-menu active="public"}}
{{/if}}
    <p><b>Placemark Details</b></p> </br>
<!-- AddToAny BEGIN -->
<a class="a2a_dd" href="https://www.addtoany.com/share"><img src="https://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"></a>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Placemark</th>
        <th>Location</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>Analytics</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
          <tr>
            <td>
                {{placemark.title}}
            </td>
            <td>
                {{placemark.location}}
            </td>
            <td>
                {{placemark.latitude}}
            </td>
            <td>
                {{placemark.longitude}}
            </td>
            <td>
                {{placemark.analytics}}
            </td>
            <td>
                {{placemark.description}}
            </td>
            <td>
                <figure class="image is-128x128">
                    <img src={{placemark.image}}>
                </figure>
            </td>
        </tr>
       </tbody>
</table>

    <div class="content">
      <h3>Reviews:</h3>
    {{#each reviews}}
    <blockquote>
      <p><em>{{reviewDate}}; Rating: <b>{{rating}}</b></em></p>
      {{message}}
    </blockquote>
    <p>&nbsp;</p>
    {{/each}}
    </div>
    <p>&nbsp;</p>
    {{#if loggedInUser}}    
    <hr>
    <p><b>Submit your review</b></p> </br>
<form class="box" action="/public/review/{{placemark._id}}" method="POST">
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" name="message" placeholder="Write your review">{{messageText}}</textarea>
      </div>
    </div>
    <div></div>
    <div class="control">
      <label class="label">Rating</label>
      <label class="radio">
        <input type="radio" name="rating" value="1">
        1
      </label>
      <label class="radio">
        <input type="radio" name="rating" value="2">
        2
      </label>
      <label class="radio">
        <input type="radio" name="rating" value="3">
        3
      </label>
      <label class="radio">
        <input type="radio" name="rating" value="4">
        4
      </label>
      <label class="radio">
        <input type="radio" name="rating" value="5">
        5
      </label>
    </div>

    <button class="button is-primary">Post review</button>
</form>
{{/if}}
<p>&nbsp;</p>