{{#if loggedInUser}}
    {{> menu active="public"}}
{{else}}
    {{> welcome-menu active="public"}}
{{/if}}

<section class="section columns is-centered">
    <div class="column has-text-centered">
  <div class="title">
    Public Placemarks
  </div>


        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
              integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
                integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
                crossorigin=""></script>
        <section class="ui segment">
            <div id="map" style="height: 180px;"></div>
            <script>
                //var map = L.map('map').setView([51.505, -0.09], 13);
                var map = L.map('map'){{mapview}};
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap'
                }).addTo(map);
                    {{markers}}

            </script>
        </section>


        <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Placemark</th>
      <th>Location</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Analytics</th>
      <th>Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each placemarks}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{location}}
      </td>
      <td>
       {{latitude}}
      </td>
      <td>
       {{longitude}}
      </td>
      <td>
        {{analytics}}
      </td>
      <td>
       {{description}}
      </td>
        <td>
            <figure class="image is-128x128">
                <img src={{image}}>
            </figure>
        </td>

      <td>
         <a href="/public/review/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
            </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</section>