<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Placemark</th>
      <th>Location</th>
      <th>Analytics</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.placemarks}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{location}}
      </td>
      <td>
        {{analytics}}
      </td>
      <td>
       {{description}}
      </td>
      <td>
         <a href="/category/{{../category._id}}/deleteplacemark/{{_id}}" class="ui icon button">
           <i class="fas fa-trash"></i>
            </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>